body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    /* max-width: 500px; */
    margin: auto;
    align-content: center;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.todoer{
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 1px;
    display: flex;
    justify-content: center;
}

.weath {
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 1px;
}

.quoter{
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 1px;
}

    .clock {
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); */
        color: #17D4FE;
        font-size: 60px;
        font-family: Orbitron;
        letter-spacing: 7px;

}

#calendar-container{
    padding: 10px;
    width: 210px;
    height: 240px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
}

#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year{
    margin: 5px;
}

#calendar-dates>table>tr>td{
    padding: 5px;
}
